section {
    /* border: 1px solid black; */
    width: 40ch;
    height: 33ch;
}

h2 {
    text-align: center;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

.charSelect  {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.char {
    border: 1px solid black;
    margin: 2px;
    width: 85px;
    height: 85px;
}