<section>

    <h2 id="player"> Player 1</h2>

    <div class="charSelect">
        <button (click)="selectPokemon()"><img id="1" class="char" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png"></button>

        <button (click)="selectPokemon()"><img class="char" src="https://i.pinimg.com/564x/bf/29/b6/bf29b64fe0c4c491a8dcba66a1d6cae2.jpg"></button>
    
        <button (click)="selectPokemon()"><img class="char" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png"></button>
    
        <button (click)="selectPokemon()"><img class="char" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png"></button>
    
        <button (click)="selectPokemon()"><img class="char" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png"></button>
    
        <button (click)="selectPokemon()"><img class="char" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png"></button>
    </div>

</section>

