

#char-container {
    display: flex;
    justify-content: space-between;
    
}

#fighters {
    display: flex;
}

#fighter-anim {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.fighter1 {
    margin-left: 50px;
}

.fighter2 {
    margin-right: 50px;
}