
<div id="char-container">
    <div class="player1">
        <app-character-select></app-character-select>
    </div>
    <div class="player2">
        <app-character-select></app-character-select>
    </div>
</div>
<div id="fighter-anim">
    <div class="fighter1">
        <app-character-fight></app-character-fight>
    </div>
    <div class="stage">
        <app-stage></app-stage>
    </div>
    <div class="fighter2">
        <app-character-fight></app-character-fight>
    </div>
</div>


<router-outlet></router-outlet>
